<div class="container" ng-controller="FormsCtrl">
	<form action="" method="POST" name="regform" novalidate >
		<legend>Registration Forms</legend>

		<div class="form-group">
			<label for="fname">First Name</label>
			<input type="text" class="form-control" id="fname" name="fname" ng-model="currentUser.fname" required >
		</div>

		<div class="form-group">
			<label for="lname">Last Name</label>
			<input type="text" class="form-control" id="lname" name="lname" ng-model="currentUser.lname" required >
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" ng-model="currentUser.email" required >
		</div>

		<div class="form-group">
			<label for="bdate">Birth Date</label>
			<input type="text" class="form-control" id="bdate" name="bdate" ng-model="currentUser.bdate" required>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" ng-model="currentUser.password" required >
		</div>

		<div ng-if="regForm.$submitted">
			<div ng-messages="currentUser.fname" >
				<div ng-message="required" class="label label-danger">First name is required</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary" ng-click="submitForm()" >Submit</button>
	</form>
</div>
