<div class="container" ng-controller="FormsCtrl as form">
	<form name="regform" novalidate  ng-submit="form.submitForm(regform)" >
		<legend>Registration Form</legend>

		<div class="form-group">
			<label for="fname">First Name</label>
			<input type="text" class="form-control" id="fname" name="fname" ng-model="currentUser.fname" minlength="4" required >
      <div ng-messages="regform.fname.$error" ng-if="regform.fname.$invalid &&(regform.$submitted || regform.fname.$touched)" class="alert alert-danger" >
        <div ng-message="required" >First name is required</div>
        <div ng-message="minlength" >First name must be at least 4 characters.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname"
             ng-model="currentUser.lname"
             minlength="4"
             ng-model-options="{updateOn:'default blur', debounce:{'default':2000, 'blur':0},allowInvalid:true }"
        >
      <span>Last Name:{{currentUser.lname}}</span>
    </div>

		<div class="form-group" ng-class="{loading:regform.email.$pending}" >
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email"
             ng-model="currentUser.email"
             required gmail-validate email-exists >
      <div ng-messages="regform.email.$error" ng-if="regform.email.$invalid && (regform.$submitted || regform.email.$touched)" class="alert alert-danger" >
        <div ng-message="required" >Email is required</div>
        <div ng-message="email" >Please enter a valid email</div>
        <div ng-message="gmail" >Please enter a gmail email address</div>
        <div ng-message="emailExists" >This email already exists</div>
      </div>
		</div>

		<div class="form-group">
			<label for="bdate">Birth Date</label>
			<input type="date" class="form-control" id="bdate" name="bdate" ng-model="currentUser.bdate" >
      <div ng-messages="regform.bdate.$error" ng-messages-multiple="true" ng-if="regform.bdate.$invalid && (regform.$submitted || regform.bdate.$touched)" class="alert alert-danger" >
        <div ng-message="date" >Please enter a date in mm/dd/yyyy format</div>
      </div>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" ng-model="currentUser.password" required >
		</div>



		<input type="submit" class="btn btn-primary" value="Submit"  />
	</form>
</div>
